snippet link
	[${1:text}](https://${2:address})

snippet img
	![${1:alttext}](${2:img})

snippet -
	- [ ] ${1:value}

snippet -x
	- [x] ${1:value}

snippet align
	align='center'

snippet h1
	<h1> ${1:text} </h1>

snippet h2
	<h2> ${1:text} </h2>

snippet h3
	<h3> ${1:text} </h3>

snippet p
	<p> ${1:text} </p>
